/*
* CSS module for 400m web minigame
* author: @BoxBoxJason
* GAMEFRAME AND GAME ELEMENTS STYLING
*/

* {
	margin: 0;
	padding: 0;
	font-family: "Barlow";
}

#showDistance {
	height: 65vh;
	width: 100%;
	min-width: 500px;
}

.gameframe_wrapper {
	background: linear-gradient(to top right, #a14796, #b30718, #06328c);
	padding: 30px;
	border-radius: 40px;
	margin: auto;
	width: fit-content;
}

#gameFrame {
	min-width: 550px;
    width: 80vw;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.gameFrame-child {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

@media (min-width: 955px) {
    #gameFrame {
        flex-direction: row;
    }

    .gameFrame-child {
        width: 50%;
    }
}

#historyArea {
	width: fit-content;
	height: 10vh;
	display: grid;
	margin: 10px auto 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.game_progress_container {
	margin: 10px auto 0;
	width: fit-content;
}

#diceArea {
	background-image: url('../images/diceArea.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vh;
	width: auto;
	min-width: 500px;
	margin: 10px auto;
}

.game_buttons{
	margin: 10px auto 0;
	width: fit-content;
	height: 10vh;
}

#throwButton {
	background-image: url('../images/throwIcon.png');
}

#keepButton {
	background-image: url('../images/keepIcon.png');
}

.game_button {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	width: 10vh;
	height: 10vh;
	margin: 0 15px;
	padding: 3px;
	border: 3px outset black;
	border-radius: 15px;
	background-color: #505050;
    cursor: pointer;
    transition: background-color 0.6s, color 0.6s;
}

.game_button:hover {
	background-color: #353535;
	color: #fff;
}

.dicesSave {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	width: 110px;
}

.dice-1, .dice-2, .dice-3, .dice-4, .dice-5, .dice-6 {
	width: 50px;
	height: 50px;
	background-size: contain;
	margin: 0;
}

.throwDice {
    position: relative;
    width: 50px;
    height: 50px;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
    margin: 0 25px;
    left: calc(50% - 100px);
    top: calc(50% - 25px);
}

@keyframes roll1 {
    0% { transform: rotateX(0deg) rotateY(0deg);}
    100% { transform: rotateX(4turn) rotateY(4turn); }
}
@keyframes roll2 {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(3.75turn) rotateY(4turn); }
}
@keyframes roll3 {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(4turn) rotateY(3.75turn); }
}
@keyframes roll4 {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(4turn) rotateY(4.25turn); }
}
@keyframes roll5 {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(4.25turn) rotateY(4turn); }
}
@keyframes roll6 {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(4.5turn) rotateY(4turn); }
}

.dice-1,.front {background-image: url("../images/Dice1.png");}
.dice-2,.top {background-image: url("../images/Dice2.png");}
.dice-3,.right {background-image: url("../images/Dice3.png");}
.dice-4,.left {background-image: url("../images/Dice4.png");}
.dice-5,.bottom {background-image: url("../images/Dice5.png");}
.dice-6,.back {background-image: url("../images/Dice6.png");}
.face {
	width: 50px;
	height: 50px;
	position: absolute;
	background-size: contain;
	box-sizing: border-box;
}
.front { transform: translateZ(25px);}
.back { transform: translateZ(-25px) rotateY(180deg);}
.right { transform: rotateY(90deg) translateX(25px); transform-origin: center right;}
.left { transform: rotateY(-90deg) translateX(-25px); transform-origin: center left;}
.top { transform: rotateX(90deg) translateY(-25px); transform-origin: center top;}
.bottom { transform: rotateX(-90deg) translateY(25px); transform-origin: center bottom;}
