/*
* CSS module for 400m web minigame
* author: @BoxBoxJason
* ABOUT PANNEL STYLING
*/

#about {
    margin: 25px auto;
    width: 80vw;
    background-image: url("../images/about.png");
    background-repeat: no-repeat;
    padding: 15px 15px 40px;
    border: 5px outset black;
    border-radius: 15px;
}

#about h2 {
    font-size: 25pt;
    margin: 5px 10px 0;
}

#about p{
	margin-left: 20px;
}
