* {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
}

.auth_widget {
  width: 340px;
  margin: 50px auto 0;
}

table {
  margin: 0 auto 5px;
}

table tr td {
  border-bottom: 2px solid #aaa;
  padding-bottom: 5px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}


form {
  background-color: #aaa;
  border: 2px inset #000;
  margin: auto;
  border-radius: 6px;
  width: 300px;
}


.form-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}


label {
  font-size: 13pt;
}


input[type="text"], input[type="email"], input[type="password"]{
  text-align: center;
  width: 200px;
  height: 25px;
  margin: 0 auto 8px;
  font-size: 13pt;
}

input[type="submit"] {
  text-align: center;
  height: 30px;
  margin: 0 auto 8px;
  padding: 4px 10px;
  font-size: 13pt;
  font-weight: bold;
  text-transform: uppercase;
}

#alert_section {
  padding: 8px 20px;
  margin: 30px auto 0;
  width: 350px;
  display: none;
  text-align: center;
  align-items: center;
}

#alert_section.fail {
  border: 4px groove #c20a0a;
  background-color: #d68787;
}

#alert_section.success {
  border: #0b8700;
  background-color: #b2edad;
}
